{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- $work := false -}}{{/* true if this machine is a work machine */}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $profile_choices := list "personal" "work" -}}
{{- $profile := promptChoiceOnce . "profile" "What profile is this machine" $profile_choices -}}

{{- if eq $profile "work" -}}
{{-   $work = true -}}
{{- else -}}
{{-   $personal = true -}}
{{- end -}}

hooks:
  read-source-state:
    pre:
      command: ".local/share/chezmoi/home/.install-password-manager.sh"

data:
  email: {{ $email | quote }}
  ephemeral: {{ $ephemeral }}
  headless: {{ $headless }}
  osid: {{ $osID | quote }}
  personal: {{ $personal }}
  profile: {{ $profile | quote }}
  work: {{ $work }}

github:
  refreshPeriod: 1h
