{{- $email := promptStringOnce . "email" "Personal email address" -}}
{{- $work_email := promptStringOnce . "work_email" "Work email address" -}}
{{- $work_profile_choices := list "personal" "work" -}}
{{- $work_profile := promptChoice "What profile is this machine" $work_profile_choices -}}

hooks:
  read-source-state:
    pre:
      command: ".local/share/chezmoi/home/.install-password-manager.sh"

data:
  email: {{ $email | quote }}
  work_email: {{ $work_email | quote }}
  work_profile: {{ $work_profile | quote }}

github:
  refreshPeriod: 1h
