# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

{{ if eq .chezmoi.hostname "penguin" -}}
[container]
  disabled = true
{{- end }}

[directory]
  truncation_symbol = '../'
  truncate_to_repo = false
